
<!doctype html>
<html>
<head>
    <title>Stock Syndrome</title>
    <meta charset="UTF-8">
    <meta name="description" content="Stock syndrome, get all your stock information with interactive charts for free."/>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <link rel="icon" type="image/png" href="static/images/triangle-favicon.png" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
</head>
<body>
    <div class="masthead">
        <canvas max-width='1200' height='480' id="hero-bar"></canvas>
        <header>
            <h1>Stock Syndrome</h1>
            <h2>One pit-stop for all your stocks</h2>
            <a class="btn red" href="/login">Login</a>
            <a class="btn blue" href="/signup">Join Now</a>
        </header>
    </div>

    <div class="content-main">
        <section class="features">
            <h2>Built using the modern day technologies</h2>
            <figure>
                <img src="static/images/angularjs-logo.png" alt="angular js" />
                <figcaption>The most advanced frontend MVC framework</figcaption>
            </figure>
            <figure>
                <img src="static/images/python-logo.png" alt="python" />
                <figcaption>Parselmouth powers our backend</figcaption>
            </figure>
            <!--<figure>-->
                <!--<img src="static/images/mongodb-logo.png" alt="mongo" />-->
                <!--<figcaption>Keeping our data in good hands</figcaption>-->
            <!--</figure>-->
            <figure>
                <img src="static/images/yahoo-logo.png" alt="mongo" />
                <figcaption>Real Time updates using the <a href="https://developer.yahoo.com/">Yahoo Finance API</a></figcaption>
            </figure>
        </section>
    </div>
    <div style="clear:both"></div>
    <div class="banner">
        <p>Manage hundreds of stocks from anywhere.</p>
        <a href="/signup" class="btn red">Get Started - It's free!</a>
    </div>
    <footer>
        <div class="legend">
            A project by <a href="http://www.shashank.im">Shashank Srivastav</a>
        </div>
    </footer>

    <script src="static/scripts/chart.min.js"></script>
    <script>
        /*
	var data = [],
		barsCount = 50,
		labels = new Array(barsCount),
		updateDelayMax = 500,
		$id = function(id){
			return document.getElementById(id);
		},
		random = function(max){ return Math.round(Math.random()*100)},
		helpers = Chart.helpers;


	Chart.defaults.global.responsive = true;


	for (var i = barsCount - 1; i >= 0; i--) {
		data.push(Math.round(Math.random() * 100));
	};
	new Chart($id('hero-bar').getContext('2d')).Bar({
		labels : labels,
		datasets : [{
			fillColor : '#2B303B',
			data : data
		}]
	},{
		showScale : false,
		barShowStroke : false,
		barValueSpacing: 1,
		showTooltips : false,
		onAnimationComplete : function(){
			// Get scope of the hero chart during updates
			var heroChart = this,
				timeout;
			// Stop this running every time the update is fired
			this.options.onAnimationComplete = randomUpdate;

			this.options.animationEasing = 'easeOutQuint';

			randomUpdate();

			function randomUpdate(){
				heroChart.stop();
				clearTimeout(timeout);
				// Get a random bar
				timeout = setTimeout(function(){
					var randomNumberOfBars = Math.floor(Math.random() * barsCount),
						i;
					for (i = randomNumberOfBars - 1; i >= 0; i--) {
						heroChart.datasets[0].bars[Math.floor(Math.random() * barsCount)].value = Math.round(Math.random() * 100);
					};
					heroChart.update();
				},Math.random() * updateDelayMax);
			};
		}
	}); */
</script>
<!--
<script src="static/scripts/vendor/jquery.js"></script>
<script src="static/scripts/foundation.min.js"></script>
<script>
    $(document).foundation()
</script>
-->
</body>
</body>
</html>
