{% extends "layout.html" %}
{% block content %}
<div class="panel-holder">
  {% if error %}
    <div data-alert class="alert-box alert radius">
        <strong>Error: {{ error }}</strong>
    </div>
    {% endif %}
  <form action="{{ url_for('login') }}" method="post" class="panel form-layout">
    <h2>Log In</h2>
    <p>Initialize the awesome</p>
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Log In" class="button success radius expand">
  <p>Don't have an account? <a href="{{url_for('signup')}}">Sign Up</a></p>
  </form>
<div>
{% endblock %}
