{% extends "layout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="static/scripts/angular.js"></script>
<div class="content" ng-app="myApp">
    <div ng-controller="Ctrl">
        <h2 class="alert-box alert radius">Start right away by viewing all the available stocks</h2>
        <input type="text" ng-model="search" placeholder="Search">
        <table>
            <thead>
                <tr>
                <th width="200">Symbol</th>
                <th width="200">Name</th>
                <th width="150">Latest</th>
                <th width="150">Day's High</th>
                <th width="150">Day's Low</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stock in stocks.market | filter:search">
                <td>{{stock|angular}}</td>
                <td>{{stock.name|angular}}</td>
                <td>{{stock.latest|angular}}</td>
                <td>{{stock.hi|angular}}</td>
                <td>{{stock.lo|angular}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>
        var myApp = angular.module('myApp', []);
        myApp.factory('Stocks', function() {
            var Stocks = {};
            Stock.market = [
                    {
                    "\"AAPL\"": {
                        "hi": "106.74", 
                        "latest": "106.74", 
                        "lo": "105.35", 
                        "name": "\"Apple Inc.\""
                    }, 
                    "\"GOOG\"": {
                        "hi": "548.98", 
                        "latest": "548.90", 
                        "lo": "541.62", 
                        "name": "\"Google Inc.\""
                    }, 
                    "\"MSFT\"": {
                        "hi": "46.50", 
                        "latest": "46.49", 
                        "lo": "45.77", 
                        "name": "\"Microsoft Corpora\""
                    }
                    }
                ];
            return Stocks;
        });

        function Ctrl($scope, Stocks) {
            $scope.stocks = Stocks;
    <script>
    </script>
</body>
</html>

</div>
{% endblock %}
