{% extends "layout.html" %}
{% block content %}
<div class="panel-holder">
  {% if error %}
    <div data-alert class="alert-box alert radius">
        <strong>Error: {{ error }}</strong>
    </div>
    {% endif %}
  <form action="{{ url_for('signup') }}" method="post" class="panel">
      <h2>Sign Up</h2>
      <p>Just one step away from glory</p>
      <input type="text" name="username" placeholder="username">
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Sign Up" class="button success radius expand">
  <p>Already have an account? <a href="{{url_for('login')}}">Log In</a></p>
  </form>
</div>
{% endblock %}

