/*-------------------------------------
 * Login and Signup page styles
 * -----------------------------------*/
body { 
    background: url('../images/blue-forum.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Proxima Nova Lt', sans-serif;
    height: 100%;
}
.tab-bar { opacity: 0.8; height: 50px;}
.left-off-canvas-menu { opacity: 0.9; }
.nav{ display:block; color: white; padding: 10px;}
.nav:hover { display:block; opacity: 1;}

h1.title a {
    text-transform: uppercase;
    font-family: 'Proxima Nova Lt', sans-serif;
    color: #dfe1e8;
}
div.panel-holder {
    height: 550px;
    max-width: 520px;
    min-width: 320px;
    margin: auto;
    padding: 80px 50px;
}
form.panel {
    padding: 25px;
    text-align: center;
    border-radius: 5px;
}
form.panel > h2 {
    font-family: 'Proxima Nova Lt', sans-serif;
}
